
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEasyroommateLabel" data-translate="roommateApp.easyroommate.home.createOrEditLabel">Create or edit a Easyroommate</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.easyroommate.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.easyroommate.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="roommateApp.easyroommate.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.easyroommate.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="roommateApp.easyroommate.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.easyroommate.address"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="roommateApp.easyroommate.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.easyroommate.phone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="roommateApp.easyroommate.rent_per_a_month" for="field_rent_per_a_month">Rent Per A Month</label>
            <input type="number" class="form-control" name="rent_per_a_month" id="field_rent_per_a_month"
                    ng-model="vm.easyroommate.rent_per_a_month"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="roommateApp.easyroommate.property_type" for="field_property_type">Property Type</label>
            <input type="text" class="form-control" name="property_type" id="field_property_type"
                    ng-model="vm.easyroommate.property_type"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="roommateApp.easyroommate.age_range" for="field_age_range">Age Range</label>
            <input type="text" class="form-control" name="age_range" id="field_age_range"
                    ng-model="vm.easyroommate.age_range"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="roommateApp.easyroommate.gender" for="field_gender">Gender</label>
            <input type="text" class="form-control" name="gender" id="field_gender"
                    ng-model="vm.easyroommate.gender"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="roommateApp.easyroommate.more_infomation" for="field_more_infomation">More Infomation</label>
            <input type="text" class="form-control" name="more_infomation" id="field_more_infomation"
                    ng-model="vm.easyroommate.more_infomation"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="roommateApp.easyroommate.search" for="field_search">Search</label>
            <input type="text" class="form-control" name="search" id="field_search"
                    ng-model="vm.easyroommate.search"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
